label[for=fixed-submitdiv-hide] {
  display: none; }

.fixed-toolbar-bottom #wpcontent {
  padding-bottom: 50px; }

.fixed-toolbar-top #wpcontent {
  padding-top: 50px; }

#fixed-submitdiv {
  position: fixed;
  top: 32px;
  right: 0;
  width: calc(100% - 160px );
  margin-bottom: 0;
  z-index: 100;
  border: none; }
  #fixed-submitdiv .inside {
    padding: 5px 12px;
    margin-top: 0px; }
  #fixed-submitdiv h3.hndle, #fixed-submitdiv .handlediv {
    display: none; }
  #fixed-submitdiv div#submitpost > div,
  #fixed-submitdiv #preview-action,
  #fixed-submitdiv #save-action,
  #fixed-submitdiv #misc-publishing-actions {
    display: inline-block; }
    #fixed-submitdiv div#submitpost > div #minor-publishing-actions,
    #fixed-submitdiv #preview-action #minor-publishing-actions,
    #fixed-submitdiv #save-action #minor-publishing-actions,
    #fixed-submitdiv #misc-publishing-actions #minor-publishing-actions {
      display: inline-block;
      vertical-align: middle;
      padding: 0; }
      #fixed-submitdiv div#submitpost > div #minor-publishing-actions .preview,
      #fixed-submitdiv #preview-action #minor-publishing-actions .preview,
      #fixed-submitdiv #save-action #minor-publishing-actions .preview,
      #fixed-submitdiv #misc-publishing-actions #minor-publishing-actions .preview {
        width: 58px;
        overflow: hidden;
        padding: 0px 4px; }
    #fixed-submitdiv div#submitpost > div#major-publishing-actions,
    #fixed-submitdiv #preview-action#major-publishing-actions,
    #fixed-submitdiv #save-action#major-publishing-actions,
    #fixed-submitdiv #misc-publishing-actions#major-publishing-actions {
      background: none;
      border: none;
      padding: 0px;
      float: right; }
      #fixed-submitdiv div#submitpost > div#major-publishing-actions #delete-action,
      #fixed-submitdiv #preview-action#major-publishing-actions #delete-action,
      #fixed-submitdiv #save-action#major-publishing-actions #delete-action,
      #fixed-submitdiv #misc-publishing-actions#major-publishing-actions #delete-action {
        padding: 6px; }
  #fixed-submitdiv #misc-publishing-actions > div {
    cursor: default; }
    #fixed-submitdiv #misc-publishing-actions > div > a {
      width: 0;
      display: inline-block;
      overflow: hidden;
      height: 14px;
      -webkit-transition: all .5s ease;
      -moz-transition: all .5s ease;
      -ms-transition: all .5s ease;
      -o-transition: all .5s ease;
      transition: all .5s ease; }
    #fixed-submitdiv #misc-publishing-actions > div:hover > a {
      width: 23px; }
    #fixed-submitdiv #misc-publishing-actions > div.misc-pub-revisions:hover > a {
      width: 46px; }
  #fixed-submitdiv #misc-publishing-actions p {
    margin: 1em 0 0; }
  #fixed-submitdiv .misc-pub-section {
    display: inline-block;
    padding: 6px 6px 8px;
    white-space: nowrap; }
  #fixed-submitdiv a:focus {
    box-shadow: none; }
  #fixed-submitdiv #publishing-action {
    padding: 5px; }

.admin-color-fresh #fixed-submitdiv {
  background-color: #222222; }
  .admin-color-fresh #fixed-submitdiv #misc-publishing-actions .misc-pub-section, .admin-color-fresh #fixed-submitdiv #misc-publishing-actions .misc-pub-section label, .admin-color-fresh #fixed-submitdiv #misc-publishing-actions .misc-pub-section span, .admin-color-fresh #fixed-submitdiv #misc-publishing-actions .misc-pub-section:before, .admin-color-fresh #fixed-submitdiv #misc-publishing-actions .misc-pub-section :before {
    color: #eeeeee; }
  .admin-color-fresh #fixed-submitdiv #misc-publishing-actions .misc-pub-section a, .admin-color-fresh #fixed-submitdiv #misc-publishing-actions .misc-pub-section a span {
    color: #0074a2; }

.admin-color-light #fixed-submitdiv {
  background-color: #e5e5e5; }
  .admin-color-light #fixed-submitdiv #misc-publishing-actions .misc-pub-section, .admin-color-light #fixed-submitdiv #misc-publishing-actions .misc-pub-section label, .admin-color-light #fixed-submitdiv #misc-publishing-actions .misc-pub-section span, .admin-color-light #fixed-submitdiv #misc-publishing-actions .misc-pub-section:before, .admin-color-light #fixed-submitdiv #misc-publishing-actions .misc-pub-section :before {
    color: #333333; }
  .admin-color-light #fixed-submitdiv #misc-publishing-actions .misc-pub-section a, .admin-color-light #fixed-submitdiv #misc-publishing-actions .misc-pub-section a span {
    color: #d64e07; }

.admin-color-blue #fixed-submitdiv {
  background-color: #096484; }
  .admin-color-blue #fixed-submitdiv #misc-publishing-actions .misc-pub-section, .admin-color-blue #fixed-submitdiv #misc-publishing-actions .misc-pub-section label, .admin-color-blue #fixed-submitdiv #misc-publishing-actions .misc-pub-section span, .admin-color-blue #fixed-submitdiv #misc-publishing-actions .misc-pub-section:before, .admin-color-blue #fixed-submitdiv #misc-publishing-actions .misc-pub-section :before {
    color: #eeeeee; }
  .admin-color-blue #fixed-submitdiv #misc-publishing-actions .misc-pub-section a, .admin-color-blue #fixed-submitdiv #misc-publishing-actions .misc-pub-section a span {
    color: #52accc; }

.admin-color-coffee #fixed-submitdiv {
  background-color: #46403c; }
  .admin-color-coffee #fixed-submitdiv #misc-publishing-actions .misc-pub-section, .admin-color-coffee #fixed-submitdiv #misc-publishing-actions .misc-pub-section label, .admin-color-coffee #fixed-submitdiv #misc-publishing-actions .misc-pub-section span, .admin-color-coffee #fixed-submitdiv #misc-publishing-actions .misc-pub-section:before, .admin-color-coffee #fixed-submitdiv #misc-publishing-actions .misc-pub-section :before {
    color: #eeeeee; }
  .admin-color-coffee #fixed-submitdiv #misc-publishing-actions .misc-pub-section a, .admin-color-coffee #fixed-submitdiv #misc-publishing-actions .misc-pub-section a span {
    color: #c7a589; }

.admin-color-ectoplasm #fixed-submitdiv {
  background-color: #413256; }
  .admin-color-ectoplasm #fixed-submitdiv #misc-publishing-actions .misc-pub-section, .admin-color-ectoplasm #fixed-submitdiv #misc-publishing-actions .misc-pub-section label, .admin-color-ectoplasm #fixed-submitdiv #misc-publishing-actions .misc-pub-section span, .admin-color-ectoplasm #fixed-submitdiv #misc-publishing-actions .misc-pub-section:before, .admin-color-ectoplasm #fixed-submitdiv #misc-publishing-actions .misc-pub-section :before {
    color: #eeeeee; }
  .admin-color-ectoplasm #fixed-submitdiv #misc-publishing-actions .misc-pub-section a, .admin-color-ectoplasm #fixed-submitdiv #misc-publishing-actions .misc-pub-section a span {
    color: #a3b745; }

.admin-color-midnight #fixed-submitdiv {
  background-color: #25282b; }
  .admin-color-midnight #fixed-submitdiv #misc-publishing-actions .misc-pub-section, .admin-color-midnight #fixed-submitdiv #misc-publishing-actions .misc-pub-section label, .admin-color-midnight #fixed-submitdiv #misc-publishing-actions .misc-pub-section span, .admin-color-midnight #fixed-submitdiv #misc-publishing-actions .misc-pub-section:before, .admin-color-midnight #fixed-submitdiv #misc-publishing-actions .misc-pub-section :before {
    color: #eeeeee; }
  .admin-color-midnight #fixed-submitdiv #misc-publishing-actions .misc-pub-section a, .admin-color-midnight #fixed-submitdiv #misc-publishing-actions .misc-pub-section a span {
    color: #69a8bb; }

.admin-color-ocean #fixed-submitdiv {
  background-color: #627c83; }
  .admin-color-ocean #fixed-submitdiv #misc-publishing-actions .misc-pub-section, .admin-color-ocean #fixed-submitdiv #misc-publishing-actions .misc-pub-section label, .admin-color-ocean #fixed-submitdiv #misc-publishing-actions .misc-pub-section span, .admin-color-ocean #fixed-submitdiv #misc-publishing-actions .misc-pub-section:before, .admin-color-ocean #fixed-submitdiv #misc-publishing-actions .misc-pub-section :before {
    color: #eeeeee; }
  .admin-color-ocean #fixed-submitdiv #misc-publishing-actions .misc-pub-section a, .admin-color-ocean #fixed-submitdiv #misc-publishing-actions .misc-pub-section a span {
    color: #9ebaa0; }

.admin-color-sunrise #fixed-submitdiv {
  background-color: #b43c38; }
  .admin-color-sunrise #fixed-submitdiv #misc-publishing-actions .misc-pub-section, .admin-color-sunrise #fixed-submitdiv #misc-publishing-actions .misc-pub-section label, .admin-color-sunrise #fixed-submitdiv #misc-publishing-actions .misc-pub-section span, .admin-color-sunrise #fixed-submitdiv #misc-publishing-actions .misc-pub-section:before, .admin-color-sunrise #fixed-submitdiv #misc-publishing-actions .misc-pub-section :before {
    color: #eeeeee; }
  .admin-color-sunrise #fixed-submitdiv #misc-publishing-actions .misc-pub-section a, .admin-color-sunrise #fixed-submitdiv #misc-publishing-actions .misc-pub-section a span {
    color: #dd823b; }
