@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}

label[for=fixed-submitdiv-hide] {
	display: none;
}

.fixed-toolbar-bottom {
	#wpcontent {
		padding-bottom: 44px;
	}
}
.fixed-toolbar-top {
	#wpcontent {
		padding-top: 44px;
	}
}

#fixed-submitdiv {
	position:fixed;
	//bottom:0;
	top:32px;
	right:0;
	width:calc( 100% - 160px );
	margin-bottom:0;
	z-index: 1000;
	border:none;
	.inside {
		padding: 0 12px;
		margin-top:0px;
	}
	h3.hndle, .handlediv {
		display: none;
	}
	div#submitpost > div, 
	#preview-action,
	#save-action, 
	#misc-publishing-actions {
		display: inline-block;
		vertical-align: middle;
		#minor-publishing-actions {
			display: inline-block;
			vertical-align: middle;
			padding:0;
			.preview {
				width: 58px;
				overflow: hidden;
				padding: 0px 4px;
			}
		}
		&#major-publishing-actions {
			background:none;
			border:none;
			padding: 0px;
			float:right;
			#delete-action {
				/* padding:6px; */
			}
		}
	}
	#misc-publishing-actions {
		padding:0;
		> div {
			cursor: default;
			> a {
				//width: 0;
				//display: inline-block;
				//overflow: hidden;
				//height: 14px;
				/* -webkit-transition: all .5s ease;
				-moz-transition: all .5s ease;
				-ms-transition: all .5s ease;
				-o-transition: all .5s ease;
				transition: all .5s ease; */
			}
			&:hover {
				> a {
					//width:23px;
				}
			}
			&.misc-pub-revisions:hover > a {
				width: 46px;
			}
		}
		p {
			margin: 1em 0 0;
		}
	}
	.misc-pub-section {
		display: inline-block;
		padding: 12px 15px 12px 12px;
		white-space: nowrap;
		vertical-align: top;
		position: relative;
		background:transparent;
		@include transition(background, .2s, ease-in-out);
		> a {
			background:transparent;
			position: absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
			z-index: 100;
			text-indent: -9999px;
			@include transition(background, .2s, ease-in-out);
		}
		&.show, > a:hover {
			background:rgba(255,255,255,.1);
		}
		label {
		}
	}

	a:focus {
		box-shadow: none;
	}
	#publishing-action, #delete-action {
		padding:7px;
	}
}

$colors: ( "fresh", "light", "blue", "coffee", "ectoplasm", "midnight", "ocean", "sunrise" );

$color-arrays: 	( #222222, #333333, #0074a2, #2ea2cc, #EEEEEE ),
				( #e5e5e5, #999999, #d64e07, #04a4cc, #333333 ),
				( #096484, #4796b3, #52accc, #74B6CE, #EEEEEE ),
				( #46403c, #59524c, #c7a589, #9ea476, #EEEEEE ),
				( #413256, #523f6d, #a3b745, #d46f15, #EEEEEE ),
				( #25282b, #363b3f, #69a8bb, #e14d43, #EEEEEE ),
				( #627c83, #738e96, #9ebaa0, #aa9d88, #EEEEEE ),
				( #b43c38, #cf4944, #dd823b, #ccaf0b, #EEEEEE );

@for $i from 1 through length($color-arrays) {
	.admin-color-#{nth($colors, $i)} {
		#fixed-submitdiv {
			background-color: nth(nth($color-arrays, $i), 1);
			#misc-publishing-actions {
				.misc-pub-section {
					&, label, span, &:before, :before {
						color:  nth(nth($color-arrays, $i), 5);
					}
					a, a span {
						color:  nth(nth($color-arrays, $i), 3);
					}
				}
			}
		}
	}
}